<div class="cookie-banner">
    <div class="cookie-inner wrapper">
        <div class="cookie-col">
            We use cookies to provide best web experience for our users. By continuing to browse this site, you agree to this use. Read more from our Privacy Policy.<br>
        </div>
        <div class="cookie-col">
            <button id="cookieConsentAccept" class="btn">Accept</button>
        </div>
    </div>
</div>
